.messageHeader {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
}
.chatRoomTitle {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
}
.lock {
  align-self: center;
}
.chattingRoomName {
  padding: 0 20px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 28px;
}
.chattingRoomName:hover .chattingRoomDesc {
  display: block;
}
.private {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  padding: 0;
  font-size: 24px;
  text-align: center;
}

.chattingRoomDesc {
  display: none;
  position: absolute;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
  font-size: 16px;
  text-align: left;
}
.createdByName {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.createdByText {
  font-size: 10px;
}
.chatRoomImg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.users {
  position: absolute;
  right: 0;
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
  border: none;
  background-color: transparent;
}
.users:hover {
  background-color: #ced4da5d;
}
.usersList {
  width: fit-content;
  display: inline-block;
}
.usersImg {
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: white;
  position: relative;
}
.usersImg:nth-child(2) {
  margin-left: -21px;
}
.usersImg:nth-child(3) {
  margin-left: -21px;
}
.usersCount {
  margin: 0 5px;
}

.usersPosts {
  display: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px 10px 0 10px;
  background-color: white;
}
.show {
  display: block;
  position: absolute;
  right: 0;
  top: 50px;
}
.userPostsItem {
  list-style: none;
  display: flex;
  text-align: center;
  padding-bottom: 10px;
}
.userPostsItemImg {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin-right: 10px;
}
.userPostsItemDesc {
  text-align: right;
}
.userPostsUserName {
  width: 52px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search {
  width: 100%;
}
.searchForm {
  width: 100%;
}
.searchBar {
  width: 100%;
  padding: 8px 10px;
  outline: none;
  font-size: 12px;
}
